[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aioreloader = "*"

[requires]
python_version = "3.7"

[packages]
aiohttp = "==3.4.4"
gunicorn = "*"
pyyaml = "*"
"aiohttp-jinja2" = "*"
aiopg = {version = "*", extras = ["sa"]}
